@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  background-color: rgb(243, 244, 245);
  margin: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  color: #fff;
  background-color: #007bff;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

nav .logo {
  letter-spacing: 3px;
  /* font-weight: bold; */
  font-size: 24px;
}

nav ul {
  display: flex;
  list-style: none;
  width: 30%;
  justify-content: space-between;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

nav ul li a:hover {
  padding: 15px;
  text-decoration: underline;
  background: #0045aa;
}

.jumbotron {
  padding-top: 4.3rem;
  height: 100vh;
  background-color: #e2edff;
}

.jumbotron img {
  width: 12rem;
  margin-top: 5rem;
  border-radius: 9999px;
}

.jumbotron h2,
.jumbotron h3 {
  padding-left: 4rem;
  padding-right: 4rem;
  color: #bbb;
}

.jumbotron h2 {
  font-weight: bold;
  font-size: 1.8rem;
}

.jumbotron h3 {
  font-size: 1.1rem;
  margin-bottom: 4rem;
}

section {
  min-height: 800px;
}

#projects svg {
  margin-top: -13%;
}

section#projects {
  background-color: #fff;
}

section#projects .container {
  padding: 0 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  justify-items: center;
}

section#projects center h1 {
  font-size: 2em;
}

.project-tile {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-tile img {
  width: 250px;
}

body svg#foot {
  margin-top: -50%;
}

@media screen and (max-width: 1080px) {
  nav ul li a {
    padding: 0;
  }

  section#projects .container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-bottom: 4vh;
  }
}

@media screen and (max-width: 960px) {
  nav {
    position: relative;
    flex-direction: column;
    height: 30%;
  }

  nav .logo {
    display: flex;
    top: 0;
  }

  nav ul {
    top: -30px;
    margin-left: -9%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  nav ul li {
    margin: 5px 0;
    cursor: pointer;
    transition: all 0.7s ease;
  }

  nav ul li:hover {
    padding: 15px;
    background-color: #0045aa;
    width: 100%;
    text-align: center;
    text-decoration: underline;
  }
}

@media screen and (max-width: 460px) {
  section#projects .container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-bottom: 0;
  }
}
