@font-face {
  font-family: Gumela;
  src: url("./assets/fonts/*");
}
* {
  font-family: "Gumela";
  font-weight: normal;
  font-size: 20px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
